
body {
   margin: 0px;
   font-family: 'Montserrat',sans-serif;
   color: #090909;
}
#wrapper {
    display: flex;
    flex-flow: column;
    color:blanchedalmond;
    
}

#navPlusCompanyContent {
    height: 120vh;
    background-image: url("../media/background.jpg");
    background-size: cover;
}
#companyContent {
    display: flex;
    flex-flow: column;
    padding-top: 120px;
    padding-left: 90px;


}


header {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
    padding-top: 10px;
}

nav {
    display: flex;
    flex-flow: row wrap;
}



#logo {
    margin-left: 90px;
    cursor: pointer;
}

nav p {
    margin: 20px;
    margin-top: 35px;
    cursor: pointer;
}

#navButton {
    width: 180px;
    height: 60px;
    margin: 15px 70px 0px 70px;
    background-color: #1f74fb;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    
}
nav button svg {
    margin-left: 10px;
}


#companyContent h1 {
    font-weight: lighter;
    font-size: 60px;
    width: 85vw;
    font-weight: bolder;
    
}
#companyContent p {
    font-weight: 100;
    margin-top: 25px;
    width: 45vw;
    line-height: 27px;
}

#companyContentButton {
    width: 140px;
    height: 40px;
    margin: 25px 0px 0px 0px;
    background-color: #1f74fb;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

#companyContentButton:hover, #navButton:hover {
    background-color: #488eff;
}

#projectsContent {
    display: flex;
    flex-flow: column ;
    align-items: center;
    height: 120vh;
    color: black;
    background-color: #f3f3f3;
    
    
}

#projectsContent h1 {
    margin-top: 120px;
    font-size: 35px;
    font-weight: 600;

}

#projectsContent h2 {
    max-width: 85vw;
    margin-top: 25px;
    text-align: center;
font-weight: 300;
font-size: 1rem;
line-height: 1.5rem;
}

#projectsAndTitle {
    margin-top: 50px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
    

}

#projects {
    
    
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}



#p1, #p2, #p3 {
    background-position: center;
    background-size:cover;
    margin: 50px;
    width: 300px;
    height: 300px;
    transition: 0.3s;
}
 
#p1 {
   
    background-image: url("../media/p1.jpg");

}
#p2 {
  
    background-image: url("../media/p2.jpg");

}
#p3 {
  
    background-image: url("../media/p3.jpg");
    
}


#teamContent {
    display: flex;
    flex-flow: column ;
    align-items: center;
    height: 120vh;
    background-color: #f3f3f3;
    color: black;

}

#teamContent h1 {
    margin-top: 150px;
    font-size: 35px;
    font-weight: 600;

}

#team {
    background-color: white;
    width: 75vw;
    height: 90vh;
}

#offerContent {
    display: flex;
    display: flex;
    flex-flow: column ;
    align-items: center;
    background-color: #f3f3f3;
    color: black;
}

#offerContent h1 {
    margin-top: 150px;
    font-size: 35px;
    font-weight: 600;

}
#offerContent h2 {
    max-width: 85vw;
    margin-top: 25px;
    text-align: center;
font-weight: 300;
font-size: 1rem;
line-height: 1.5rem;
}

#offer1, #offer2, #offer3, #offer4 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 80vw;
    margin-bottom: 50px;
    border-radius: 50px;
    color: white;
}

#offer1 {
    margin-top: 50px;
    background-color: #1f74fb;
}

#offer2 {
    background-color: #191923;
}

#offer3 {
    background-color: #191923;
}

#offer4 {
    background-color: #fb891f;
   
}

#offerContent h3 {
    /*margin-top: 30px;
    margin-left: 30px;*/
    font-weight: 600;
    font-size: 50px;
}
#offerContent h4 {
    /*margin-top: 30px;
    margin-left: 30px;*/
    max-width: 700px;
    font-size: 20px;
    line-height: 1.5rem;
}

#offerContent button {
        width: 210px;
        height: 80px;
        
        
        
        background-color: #1f74fb;
        border: none;
        color: white;
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        cursor: pointer;
}

#offer1 button {
    background-color: rgb(28, 28, 63);
    
}

#offer2 button, #offer3 button {

}

#offer4 button {

}

#offerContent button:hover {
    background-color: #488eff;
}

#offer1 button:hover {
    background-color: rgb(28, 28, 80);
}


#projects div:hover {
    opacity: 0.5;
}